@media only screen and (device-width: 320px) and (device-height: 480px) {
  #threeFour {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}	

@media only screen and (device-width: 480px) and (device-height: 320px) {
  #fourThree {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}

@media only screen and (device-width: 600px) and (device-height: 800px) {
  #sixEight {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}

@media only screen and (device-width: 800px) and (device-height: 600px) {
  #eightSix {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}	

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  #sevenTen {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}

@media only screen and (device-width: 1024px) and (device-height: 768px) {
  #tenSeven {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}														

@media only screen and (device-width: 320px) {
  #three {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}	

@media only screen and (device-width: 480px) {
  #four {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}

@media only screen and (device-width: 600px) {
  #six {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}

@media only screen and (device-width: 800px) {
  #eight {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}	

@media only screen and (device-width: 768px) {
  #seven {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}

@media only screen and (device-width: 1024px) {
  #ten {
  	background-color: yellow;
  	font-weight: bold;
  	color: red;
  }
}														
