/*==|== discover ====*/
/**************************************************************/
#loadingDiv {
    height: 2em;
    margin: 15% auto;
    position: relative;
    text-align: center;
    width: 15%;
}
.title, .description, .tags {
  width: 100%;
  font-size: 1em;
  padding: 0 0 0.3em; 
  float: none;
}
.description .edit {
  float: right;
}
img {
  vertical-align: middle;
  padding: 0 5px 10px 0;
  width: 50px;
}
/*div.title > h2 {*/
.title > h2 {
  margin: 0;
  font-size: inherit;
}
/*div.title > h2 > a {*/
.title > h2 > a {
  font-size: inherit;
}
/*div.title > h2 > span:first-of-type, div.description > h2 > span:first-of-type, div.tags > h2 > span:first-of-type {*/
/*.title > h2 > span:first-of-type, .description > h2 > span:first-of-type, .tags > h2 > span:first-of-type {  
  font-weight: bold;
  font-style: italic;
  color: #D0CE6A;  
}*/
/*div.title > span:first-of-type, div.description > span:first-of-type, div.tags > span:first-of-type {*/
/*.title > span:first-of-type, .description > span:first-of-type, .tags > span:first-of-type {  
  font-weight: bold;
  font-style: italic;
  color: #D0CE6A;
}*/
/*#documentsListing > div {*/
.entry {
  padding: 10px 10px 5px 10px;
  margin: 0 1em 0.5em 0;
  background-color: #04452F; 
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: #04452F solid 2px;
}
/* .entry.visited will be set by JS */
#documentsListing .entry:hover {
  border: #e6918c solid 2px;
}

/*#documentsListing .title, #documentsListing .description {*/
.entry .title, .entry .description {
  line-height: 1.2em;
  font-size: 1.2em;
}
/*#documentsListing .title {*/
.entry .title {
/*  underlining document titles instead
border-bottom: #ffffff dotted 1px;
*/
  margin-bottom: 3px;
  padding-bottom: 3px;
}
/*#documentsListing .description, #documentsListing .tags {*/
.entry .description, .entry .tags {
  line-height: 1.3em;
  font-size: 0.9em;
}
.tagsList input[type=submit], .pill {
  background-color: #7D9C59;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border: #7D9C59 solid 1px;
  display: inline;
  color: #04452F;         
  text-decoration:none;
  font-size:0.8em;
  padding: 1px 4px; 
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: default;
}
.tagsList input[type=submit]:hover, .pill.active {
  background-color: #e6918c;
  color: #FFFFFF;
  border: #e6918c solid 1px;
  cursor: pointer;
}
.tagsList input[name="removeTagFilter"] {
  vertical-align: middle;
}
.tagsList {
  display: inline;
}

.entry .description em {
  font-style: normal;
}



#sidebar {
  float:left;
  padding: 10px 10px;
  width: 14em;
  background-color: #04452F; 
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: inherit;
 
}
#sidebar ul {
  margin: 0;
  padding: 0;
}
#sidebar h1 {
  font-size: 1.2em;
  border-bottom: #D0CE6A dotted 1px;
  margin: 5px;
  color: #D0CE6A;
}
#sidebar h2 {
  font-size: 1em;
  font-style: italic;
  margin: 5px;
  color: #D0CE6A;
}
#sidebar li {
  list-style-type: none;
  font-size: 0.9em;
}
#sidebar li label {
  padding: 0 0.5em;
}
#sidebar .tags li:hover {
  background-color: #e6918c;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}
#sidebar ul .tags label{
  font-weight: normal;
}
#sidebar input {
  margin-right: 5px;
}
.tags input[type=checkbox] {
  float: right;
  margin: 0.22em 0.3em 0;
}
#sidebar .allToggle {
  margin-left: 10px;
  color: #FFFFFF;         
  text-decoration:none;
  font-weight: normal;
  font-size: 11px;
}
#sidebar .allToggle:hover {
  text-decoration: underline;
  cursor: pointer;
}
#sidebar .onlyToggle {
  float: right;
  display: none;
  color: #FFFFFF;         
  text-decoration:none;
  font-size: 11px;
}
#sidebar h2:hover .onlyToggle {
  display: inline;
}
#sidebar .tags li:hover .onlyToggle {
  display: inline;
}
#sidebar .tags li .onlyToggle:hover {
  text-decoration: underline;
  cursor: pointer;
}
#sidebar .tags label {
  clear: both;
}
#sidebar #filterBox .close.button {
  display: none;
}

.nextToSidebar {
  margin: 0 0 0 16em;
}
#footer {
  width: 98%;
  bottom: 1em;
  text-align: center;
  border-top: 1px solid white;
  margin: 0 auto;
  padding-top: 0.5em;
  clear: both;
}
/* For the dropdown categoy selection and tag system */
#sidebar {
  padding-bottom: 20px;
}
#sidebar .h {
  font-weight: bold;
  font-style: italic;
  color: #D0CE6A;
}

#sidebar .help {
  margin-left: 5px;
}

#appliedTags > button ~ br {
  margin: 0.25em 0 0.5em;
}
#appliedTags select {
  /* White on Dark Green
  background-color: #04452F;
  color: #FFFFFF; */
  background-color: #7D9C59;
  color: #04452F;
  width: 100%;
}

#appliedTags .reset.filter {
  float: right;
}

#appliedTags .filter {
  margin: 10px 2px;
}

.tagFilter {
  display: block;
}
.tagsList input.selected {
  background-color: #e6918c;
  border: 1px #e6918c solid;
}

#helpText {
  height: 10em;
  overflow-y: auto;
  padding: 5px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
.button.close {
  float: right;
  margin-left: 18px;
  cursor: pointer;
  font-weight: bold;
}
.entry {
    margin: 0 0.5em 0.85em 0.25em;
}
span.category {
    color: #D0CE6A;
    display: inline-block;
    float: right;
    font-style: italic;
}
.label {
    color: #D0CE6A;
    font-style: italic;
    font-weight: bold;
}
#main {
    overflow-y: hidden !important;
}
#documentsListing {
    position: relative;
    height: 95%;
    overflow-y: auto;
}
#message { display: none;}
.cta {
  margin-left: 10px;
  /* merge these with other rules */
    color: #D0CE6A;
    font-style: italic;
    font-weight: bold;
}
.describedTag {
  font-weight: bold;
  color: #E6918C;
}
.title > h2 > a {
  text-decoration: underline;
  margin-left: 6px;
}
.ctaHighlighted {
  border: 3px solid #D0CE6A;
  padding: 0 3px;
  border-radius: 3px;
  margin-left: 0 !important;
}