/*==|== learn ====*/
/**************************************/
/**************************************************************/
/* LEARN PAGE */
/**************************************************************/
#learn{
  width: 445px;
  margin: 4em auto 0;
}
#learn img {
  width: 445px;
}
#learn h1 {
  text-align: center;
}
/**************************************/
