#mobileMenu, #about {
	display: none;
}

#mobileMenu .button.close {
	margin-right: 0;
	padding: 0;
}
#about {
	overflow-y: auto;
	height: 10em;
	padding-right: 30px;
}
#about p:nth-of-type(1) {
	display: inline;
}
/* should probably do this with all close buttons */
#about .close.button {
	position: absolute;
	right: 20px;
}
#main #filterBox {
	display: none;
	padding: inherit;			
}
#main #appliedTags > select, #main #appliedTags > button, #main #appliedTags > div {
	margin-bottom: 1em;
}