
body {
  height: 93%;
  width: 97%;
  margin: 0 auto;
}

iframe {
  margin: 4em auto 0;
  height: 36.3em;
}

#header {
  width: 95%;
  /*height: 7%;*/
  height: 1.2em;
  margin: 0 auto;
  position: fixed;
  z-index: 9998;
  background: url("../img/back.png") repeat scroll 0 0 #2E763E; 
  /*top: 0.2em;*/
  top: 0;
  padding-top: 0.2em;
}
#main, #sidebar {
  /*margin-bottom: 0;
  margin-top: 5%;*/
  margin-top: 4em;
  margin-bottom: 0;
}

#main {
  position: relative;
  height: 87%;
  overflow-y: auto;
}
/* TODO: check to see if we can use this for all #main */
#main.discover {
  height: 84%;
  overflow-y: visible;
}

#footer {
  width: 95%;
  margin: 0.8em auto 0;
  position: fixed;
  bottom: 0;
  padding-bottom: 0.8em;
  background: url("../img/back.png") repeat scroll 0 0 #2E763E;

}


