/*==|== tOfu ====*/
/**************************************/
/**************************************************************/
/* TERMS OF USE PAGE */
/**************************************************************/
.toc {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 70%;
  display: block;
  margin: 70px auto;
  padding: 25px 35px;
  background-color: #04452F; 
  -moz-border-radius: 45px;
  border-radius: 45px;
  border: #04452F solid 2px;
}
.toc strong {
  font-size: 20px;
}
