#tourController {
	display: none;
	width: 180px;
	height: 30px;
}
#tourController .next {
	float: right;
}
#tourController .prev {
	float: left;
}
#tourController .next, #tourController .prev, #tourController .close {
	display: none;
}
#tourController.hasNext .next, #tourController.hasPrev .prev, #tourController.hasFinish .close {
	display: inline;
}

.jBox-title .steps { float: right; }
.modal-footer .steps {
	margin: auto 18px;
}
.modal-footer { text-align: center; }
.modal-footer .control { float: none; }
